Packages
Library
Logs
obj
/UnityProject/Assembly-CSharp-Editor-firstpass.csproj
/UnityProject/Assembly-CSharp-firstpass.csproj
/UnityProject/ILRuntimeFramework.sln
/UnityProject/Assembly-CSharp.csproj
/HotfixProject/.vs
/UnityProject/.vs
